<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="http://localhost:3000/views/css/bootstrap.min.css">
  <title>Cadastro árbitros</title>
</head>
<body>
  <h1>Cadastro árbitros</h1>
  <div style="width: 80%; heigth: 100%">
    <form>
      <div class="form-group">
        <label for="arbitro">nome :</label>
        <input name="nome" type="text" class="form-control" id="arbitro">
      </div>
      <div class="form-group">
        <label for="rua">rua :</label>
        <input name="rua" type="text" class="form-control" id="rua">
      </div>
      <div class="form-group">
        <label for="numero">numero :</label>
        <input name="numero" type="text" class="form-control" id="numero">
      </div>
      <div class="form-group">
        <label for="bairro">bairro :</label>
        <input name="bairro" type="text" class="form-control" id="bairro">
      </div>
      <div class="form-group">
        <label for="cep">cep :</label>
        <input name="cep" type="text" class="form-control" id="cep">
      </div>
      <div class="form-group">
        <label for="codigoCid">codigoCid :</label>
        <input name="codigoCid" type="number" class="form-control" id="codigoCid">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</body>
</html>