<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Cadastro súmulas</title>
</head>
<body>
  <h1>Cadastro súmulas</h1>
  <div style: "width: 80%; heigth: 100%;">
    <form>
      <div class="form-group">
        <label for="arbitro_id">codigoArbitro :</label>
        <input name="codigoArbitro" type="number" class="form-control" id="arbitro_id">
      </div>
      <div class="form-group">
          <label for="arbitro_nome">nomeArbitro :</label>
          <input name="" type="text" class="form-control" id="arbitro_nome">
        </div>
      <div class="form-group">
        <label for="time1">codTime1 :</label>
        <input name="codTime1" type="number" class="form-control" id="time1">
      </div>
      <div class="form-group">
        <label for="time1_nome">nomeTime1 :</label>
        <input name="nomeTime1" type="text" class="form-control" id="time1_nome">
      </div>
      <div class="form-group">
        <label for="time1_gols">golTime1 :</label>
        <input name="golTime1" type="number" class="form-control" id="time1_gols">
      </div>
      <div class="form-group">
        <label for="time2">codTime2 :</label>
        <input name="codTime2" type="number" class="form-control" id="time2">
      </div>
      <div class="form-group">
        <label for="time2_nome">nomeTime2 :</label>
        <input name="nomeTime2" type="text" class="form-control" id="time2_nome">
      </div>
      <div class="form-group">
        <label for="time2_gols">golTime2 :</label>
        <input name="golTime2" type="number" class="form-control" id="time2_gols">
      </div>
      
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
  
  /*$(function () {
    $.ajax({
      type: 'POST',
      url: "http://localhost:3000/Times",
      success: function (data) {
        console.log('success', data);
      },
      error: function () {
        console.log("Erro T.T")
      }
    });
  });*/

  $('#cadastrar-btn').on('click', function () {
    var nome = $('#nome').val();
    var pontos = parseInt($('#pontos').val());
    var golsPro = parseInt($('#golsPro').val());
    var golsContra = parseInt($('#golsContra').val());

    var dados = JSON.stringify(
      { nome: nome,
        pontos: pontos,
        golsPro: golsPro,
        golsContra: golsContra }
    );

    $.ajax({
      url: '/Times',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: dados,
      success: function () {
        console.log(dados);
      },
      error: function () {
        console.log('erro');
      }
    });
  });

</script>
</html>