<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Cadastro súmulas</title>
  <style type="text/css">
    .conteiner {
      width: 30%;

      margin: 10% 35%;
    }
    .btn{
      margin-top: 10%;
    }
    footer {
      background-color: gray;
      color: white;
      padding: 15px;
      margin-top: 10%;
      text-align: center;
    }
  </style>
</head>
<body>
  <header>
  <nav class="nav navbar navbar-inverse">
    <div class="conteiner-fluid">
       
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
           </button>
        <a class="navbar-brand" href="#">METRICASOFT</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" id="myNavbar">
          <li><a href="index.html">Home</a></li>
          <li><a href="cadastro_cidades.html">Cidades</a></li>
          <li><a href="cadastro_times.html">Times</a></li>
          <li><a href="cadastro_jogadores.html">Jogadores</a></li>
          <li class="active"><a href="#">Sumulas</a></li>
          <li><a href="cadastro_arbitros.html">Arbitros</a></li>
          <li><a href="cadastro_detalhe_sumula.html">Detalhes sumula</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
</header>
  <div class="conteiner">
    <h1>Cadastro súmulas</h1>
    <form>
      <div class="form-group col-sm-12">
        <label for="arbitro_id">Arbitro:</label>
        <select class="form-control" name="combo-arbitros" id="combo-arbitros"> 
            <option value="arbitro">Selecione o arbitro</option>
        </select>
        
        
      </div>
      <div class="form-group  col-sm-12">
        <label for="time1">time 1:</label>
        <select class="form-control" name="combo-times" id="combo-times">  
            <option>Selecione o time</option>
        </select>
      </div>
       <div class="form-group  col-sm-12">
        <label for="time2">time 2:</label>
        <select class="form-control" name="combo-times2" id="combo-times2">
            <option>Selecione o time</option>
        </select>
      </div>
      <div class="form-group col-sm-5">
        <label for="time1_gols">gols time 1:</label>
        <input name="golTime1" type="number" class="form-control" id="time1_gols">
      </div>
      
      <div class="form-group col-sm-5">
        <label for="time2_gols">gols time 2:</label>
        <input name="golTime2" type="number" class="form-control" id="time2_gols">
      </div>
      
      <button type="submit" class="btn btn-primary btn-lg pull-right" id="cadastrar-btn">Enviar</button>
    </form>
  </div>
  <footer class="conteiner-fluid col-sm-12">
    <p>METRICAS</p>
  </footer>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
  // Criar options no select de times 1
  var criarOptionsTimes = function(data) {
    var comboTimes = $('#combo-times');
    
    for (var i = 0; i < data.length; i++) {
      var option = document.createElement('option');
      option.value = data[i].codigo.toString();
      option.text = data[i].nome;
      comboTimes.append(option);
    }
  }
  // Criar options no select de times 2
  var criarOptionsTimes2 = function(data) {
    var comboTimes = $('#combo-times2');
    
    for (var i = 0; i < data.length; i++) {
      var option = document.createElement('option');
      option.value = data[i].codigo.toString();
      option.text = data[i].nome;
      comboTimes.append(option);
    }
  }
  // Criar options no select de arbitros
  var criarOptionsArbitros = function(data) {
    var comboArbitros = $('#combo-arbitros');
    
    for (var i = 0; i < data.length; i++) {
      var option = document.createElement('option');
      option.value = data[i].codigo.toString();
      option.text = data[i].nome;
      comboArbitros.append(option);
    }
  }
  // Recuperar nome e id de times
  $(function () {
      $.ajax({
        type: 'GET',
        url: "http://localhost:3000/Times",
        success: function (data) {
          console.log('success', data);
          criarOptionsTimes(data);
        },
        error: function () {
          console.log("Erro T.T")
        }
      });
    });
   $(function () {
      $.ajax({
        type: 'GET',
        url: "http://localhost:3000/Times",
        success: function (data) {
          console.log('success', data);
          criarOptionsTimes2(data);
        },
        error: function () {
          console.log("Erro T.T")
        }
      });
    });
// Recuperar nome e id de times
  $(function () {
      $.ajax({
        type: 'GET',
        url: "http://localhost:3000/Arbitros",
        success: function (data) {
          console.log('success', data);
          criarOptionsArbitros(data);
        },
        error: function () {
          console.log("Erro T.T")
        }
      });
    });


  $('#cadastrar-btn').on('click', function () {
    var arbitro = parseInt($('#arbitro').find(":selected").val());
    var time1 = parseInt($('#time1').find(":selected").text());
    var golsTime1 = parseInt($('#time1_gols').val());
    var time2 = parseInt($('#time2').find(":selected").text());
    var golsTime2 = parseInt($('#time2_gols').val());

    var dados = JSON.stringify(
      { CodigoArbitro: arbitro,
        CodTime1: time1,
        CodTime2: time2,
        golTime1: golsTime1,
        golTime2: golsTime2 }
    );
    $.ajax({
      url: '/Sumulas',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: dados,
      success: function () {
        console.log(dados);
      },
      error: function () {
        console.log('erro');
      }
    });
  });
</script>
</html>