<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Cadastro cidades</title>
  <style type="text/css">
    .conteiner {
      width: 20%;

      margin: 10% 35%;
    }
    .cep {
      width: 50%;
    }
    .btn {
      margin-top: 10%;
    }
    header {
      background-color: grey;
      height: 50px;
    }
    footer {
      margin-top: 10%;
      background-color: #555;
      color: white;
      padding: 15px;
      text-align: center;
    }
  </style>
</head>
<body>
  <header>
  <nav class="nav navbar navbar-inverse">
    <div class="conteiner-fluid">
       
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
           </button>
        <a class="navbar-brand" href="#">METRICASOFT</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" id="myNavbar">
          <li><a href="index.html">Home</a></li>
          <li class="active"><a href="#">Cidades</a></li>
          <li><a href="cadastro_times.html">Times</a></li>
          <li><a href="cadastro_jogadores.html">Jogadores</a></li>
          <li><a href="cadastro_sumulas.html">Sumulas</a></li>
          <li><a href="cadastro_arbitros.html">Arbitros</a></li>
          <li><a href="cadastro_detalhe_sumula.html">Detalhes sumula</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
</header>
  <div class="conteiner">
    <h2>Cadastro cidades</h2>
    <hr>
    <form>
      <div class="form-group col-sm-12">
        <label for="nome">nome :</label>
        <input name="nome" type="text" class="form-control" id="nome">
      </div>
      <div class="form-group col-sm-12">
        <label for="estado">estado :</label>
        <input name="estado" type="text" class="form-control" id="estado">
      </div>
      <hr>  
      <button type="submit" class="btn btn-primary btn-lg pull-right" id="cadastrar-btn">Enviar</button>
    </form>
  </div>
  <footer class="col-sm-12">
    <p>METRICAS</p>
  </footer> 
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
  /*$(function () {
    $.ajax({
      type: 'POST',
      url: "http://localhost:3000/Cidades",
      success: function (data) {
        console.log('success', data);
      },
      error: function() {
        console.log("Erro T.T")
      }
    });
  });*/

  
  
  $('#cadastrar-btn').on('click', function() {
    var nome = $('#nome').val();
    var estado = $('#estado').val();

    var cidade = JSON.stringify({nome: nome, estado: estado});

    $.ajax({
      url: '/Cidades',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: cidade,
      success: function() {
        console.log(cidade);
      },
      error: function() {
        console.log('erro');
      }
    });
  });
 
</script>  
</html>