<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Cadastro súmulas</title>
  <style type="text/css">
    .conteiner {
      width: 30%;

      margin: 10% 35%;
    }
    .btn{
      margin-top: 10%;
    }
  </style>
</head>
<body>
  
  <div class="conteiner">
    <h1>Cadastro súmulas</h1>
    <form>
      <div class="form-group">
        <label for="arbitro_id">Arbitro:</label>
        <select class="form-control" id="arbitro"> 
            <option value="arbitro">lista de arbitros</option>
            <option>4</option>
        </select>
        
        
      </div>
      <div class="form-group">
        <label for="time1">time 1:</label>
        <select class="form-control" id="time1">  
            <option>Lista de times</option>
            <option>1</option>
        </select>
      </div>
       <div class="form-group">
        <label for="time2">time 2:</label>
        <select class="form-control" id="time2">
            <option>Lista de times</option>
            <option>2</option>
        </select>
      </div>
      <div class="form-group col-sm-5">
        <label for="time1_gols">gols time 1:</label>
        <input name="golTime1" type="number" class="form-control" id="time1_gols">
      </div>
      
      <div class="form-group col-sm-5">
        <label for="time2_gols">gols time 2:</label>
        <input name="golTime2" type="number" class="form-control" id="time2_gols">
      </div>
      
      <button type="submit" class="btn btn-primary btn-lg pull-right" id="cadastrar-btn">Enviar</button>
    </form>
  </div>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
  
  $(function () {
    $.ajax({
      type: 'POST',
      url: "http://localhost:3000/Times",
      success: function (data) {
        console.log('success', data);
      },
      error: function () {
        console.log("Erro T.T")
      }
    });
  });

  $('#cadastrar-btn').on('click', function () {
    var arbitro = parseInt($('#arbitro').val());
    var time1 = parseInt($('#time1').val());
    var golsTime1 = parseInt($('#time1_gols').val());
    var time2 = parseInt($('#time2').val());
    var golsTime2 = parseInt($('#time2_gols').val());

    var dados = JSON.stringify(
      { CodigoArbitro: arbitro,
        CodTime1: time1,
        CodTime2: time2,
        golTime1: golsTime1,
        golTime2: golsTime2 }
    );

    $.ajax({
      url: '/Sumulas',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: dados,
      success: function () {
        console.log(dados);
      },
      error: function () {
        console.log('erro');
      }
    });
  });

</script>
</html>