<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="http://localhost:3000/views/css/bootstrap.min.css">
  <title>Cadastro árbitros</title>
</head>
<body>
  <h1>Cadastro árbitros</h1>
  <div style="width: 80%; heigth: 100%">
    <form>
      <div class="form-group">
        <label for="arbitro">nome :</label>
        <input name="nome" type="text" class="form-control" id="arbitro">
      </div>
      <div class="form-group">
        <label for="rua">rua :</label>
        <input name="rua" type="text" class="form-control" id="rua">
      </div>
      <div class="form-group">
        <label for="numero">numero :</label>
        <input name="numero" type="text" class="form-control" id="numero">
      </div>
      <div class="form-group">
        <label for="bairro">bairro :</label>
        <input name="bairro" type="text" class="form-control" id="bairro">
      </div>
      <div class="form-group">
        <label for="cep">cep :</label>
        <input name="cep" type="text" class="form-control" id="cep">
      </div>
      <div class="form-group" style="display: none">
        <label for="codigoCid">codigoCid :</label>
        <input name="codigoCid" type="number" class="form-control" id="codigoCid">
      </div>
      <div>
        <select id="combo-cidades">
          <option value=""></option>
        </select>
      </div>
      <button type="submit" class="btn btn-default" id="cadastrar-btn">Submit</button>
    </form>
  </div>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
  // Criar options no select
  var criarOptions = function(data) {
    var comboCidades = $('#combo-cidades');
    
    for (var i = 0; i < data.length; i++) {
      var option = document.createElement('option');
      option.value = data[i].codigo.toString();
      option.text = data[i].nome;
      comboCidades.append(option);
    }
  }

  // Recuperar nome e id de cidades
  $(function () {
      $.ajax({
        type: 'GET',
        url: "http://localhost:3000/Cidades",
        success: function (data) {
          console.log('success', data);
          criarOptions(data);
        },
        error: function () {
          console.log("Erro T.T")
        }
      });
    });

  // Inserir codigo em input não-visível
  // to do

  // Envio de json para backend
  $('#cadastrar-btn').on('click', function () {
    
    var nome = $('#nome').val();
    var rua = $('#rua').val();
    var numero = parseInt($('#numero').val());
    var bairro = $('#bairro').val();
    var cep = $('#cep').val();
    var codigoCid = parseInt($('#combo-cidades').find(":selected").text());
    
    var dados = JSON.stringify(
      {
        nome: nome,
        rua: rua,
        numero: numero,
        bairro: bairro,
        cep: cep,
        codigoCid: codigoCid
      }
    );


    $.ajax({
      url: '/Arbitros',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: dados,
      success: function (dados) {
        console.log(dados);
      },
      error: function () {
        console.log('erro');
      }
    });
  });

</script>
</html>