<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Cadastro árbitros</title>
  <style type="text/css">
    .conteiner {
      width: 30%;

      margin-left: 35%;
    }
   
    header {
      background-color: grey;
      height: 50px;
    }
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      position: relative;
      bottom: -450px;
    }
    .btn {
      margin-top: 10%;
    }
  </style>
</head>
<body>
  <header class="navbar navbar-inverse"> 
      
  </header>
    <div class="conteiner">
     
      <h1>Cadastro árbitros</h1>
      <hr>  
     

      <div class="form-group col-sm-12">
        <label for="arbitro">nome :</label>
        <input name="nome" type="text" class="form-control" id="arbitro">
      </div>
      <div class="form-group col-sm-12">
        <label for="rua">rua :</label>
        <input name="rua" type="text" class="form-control" id="rua">
      </div>
     
        <div class="form-group col-sm-4">
          <label for="numero">numero :</label>
          <input name="numero" type="number" class="form-control" id="numero">
        </div>
        <div class="form-group col-sm-8">
          <label for="bairro">bairro :</label>
          <input name="bairro" type="text" class="form-control" id="bairro">
        </div>
      <div class="form-group col-sm-4">
        <label for="cep">cep :</label>
        <input name="cep" type="number" class="form-control" id="cep">
      </div>
      <div class="form-group col-sm-8">
        <label for="codigoCid">Cidade :</label>
        <select name="codCidade" class="form-control">
            <option value="cidade1">drop down list em node.js</option>
        </select>
      </div>
     
      <button type="submit" class="btn btn-primary btn-lg pull-right">Enviar</button>
    
    </div>

  <footer class="conteiner-fluid">  
      <p>Metricas de software</p>
  </footer>
</body>
</html>