<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Cadastro detalhe súmula</title>
</head>
<body>
  <h1>Cadastro detalhe súmula</h1>
  <div style: "width: 80%; heigth: 100%;">
    <form>
      <div class="form-group">
        <label for="codigo_sumula_id">codigoSumula :</label>
        <input type="number" class="form-control" id="codigo_sumula_id">
      </div>
      <div class="form-group">
        <label for="codigoJogador">codigoJogador :</label>
        <input type="number" class="form-control" id="codigoJogador">
      </div>
      <div class="form-group">
        <label for="nomeJogador">nomeJogador :</label>
        <input type="text" class="form-control" id="nomeJogador">
      </div>
      <div class="form-group">
        <label for="qtdeGol">qtdeGol :</label>
        <input type="number" class="form-control" id="qtdeGol">
      </div>
      <div class="form-group">
        <label for="cartaoAmarelo">cartaoAmarelo :</label>
        <input type="number" class="form-control" id="cartaoAmarelo">
      </div>
      <div class="form-group">
        <label for="cartaoVermelho">cartaoVermelho :</label>
        <input type="number" class="form-control" id="cartaoVermelho">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</body>
</html>