<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Cadastro time</title>
</head>
<body>
  <h1>Cadastro times</h1>
  <div style: "width: 80%; heigth: 100%;">
    <form>
      <div class="form-group">
        <label for="time">nome :</label>
        <input name="nome" type="text" class="form-control" id="time">
      </div>
      <div class="form-group">
        <label for="pontos">pontos :</label>
        <input name="pontos" type="number" class="form-control" id="pontos">
      </div>
      <div class="form-group">
        <label for="golsPro">golsPro :</label>
        <input name="golsPro" type="number" class="form-control" id="golsPro">
      </div>
      <div class="form-group">
        <label for="golsContra">golsContra :</label>
        <input name="golsContra" type="number" class="form-control" id="golsContra">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</body>
</html>